<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client"/>
    <section name="microsoft.xrm.portal" type="Microsoft.Xrm.Portal.Configuration.PortalCrmSection, Microsoft.Xrm.Portal"/>
    <section name="microsoft.xrm.portal.identityModel" type="Microsoft.Xrm.Portal.IdentityModel.Configuration.IdentityModelSection, Microsoft.Xrm.Portal"/>
  </configSections>
  <connectionStrings>
    <add name="Xrm" connectionString="Url=https://mydemoenv6.crm4.dynamics.com; Username=bhushan@MyDemoEnv6.onmicrosoft.com; Password=pass@123"/>
    <add name="Live" connectionString="Application Id=0000000000000000; Secret=00000000000000000000000000000000"/>
  </connectionStrings>
  <appSettings>
    <add key="FederationMetadataLocation" value="https://contoso.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <expressionBuilders>
        <add expressionPrefix="Snippet" type="Microsoft.Xrm.Portal.Web.Compilation.SnippetExpressionBuilder, Microsoft.Xrm.Portal"/>
        <add expressionPrefix="SiteSetting" type="Microsoft.Xrm.Portal.Web.Compilation.SiteSettingExpressionBuilder, Microsoft.Xrm.Portal"/>
        <add expressionPrefix="CrmSiteMap" type="Microsoft.Xrm.Portal.Web.Compilation.CrmSiteMapExpressionBuilder, Microsoft.Xrm.Portal"/>
        <add expressionPrefix="Context" type="Microsoft.Xrm.Portal.Web.Compilation.PortalContextExpressionBuilder, Microsoft.Xrm.Portal"/>
      </expressionBuilders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="login" defaultUrl="default.aspx" protection="All" timeout="30" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false"/>
    </authentication>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="error.html"/>
    <trace enabled="true" requestLimit="100" mostRecent="true" pageOutput="false" localOnly="true"/>
    <!--
      See machineKey element documentation (http://msdn.microsoft.com/en-us/library/w8h3skw9.aspx) 
      to configure algorithms and keys for encryption, decryption, and validation of forms-authentication
      and  view-state data, and identification of out-of-process session state.
    -->
    <membership defaultProvider="CrmMembershipProvider">
      <providers>
        <add name="CrmMembershipProvider" type="Microsoft.Xrm.Portal.Web.Security.LiveIdMembershipProvider, Microsoft.Xrm.Portal" liveIdConnectionStringName="Live"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CrmRoleProvider">
      <providers>
        <add name="CrmRoleProvider" type="Microsoft.Xrm.Portal.Web.Security.CrmContactRoleProvider, Microsoft.Xrm.Portal"/>
      </providers>
    </roleManager>
    <siteMap enabled="true" defaultProvider="Crm">
      <providers>
        <clear/>
        <add name="Crm" type="Microsoft.Xrm.Portal.Web.CrmSiteMapProvider, Microsoft.Xrm.Portal" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!-- change cookieRequireSSL to true for secure SSL sites -->
    <anonymousIdentification enabled="true" cookieName="anonprofile" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" cookieless="UseCookies"/>
    <pages viewStateEncryptionMode="Always" validateRequest="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="wif" namespace="Microsoft.IdentityModel.Web.Controls" assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="crm" namespace="Site" assembly="Site"/>
        <add tagPrefix="crm" namespace="Microsoft.Xrm.Portal.Web.UI.WebControls" assembly="Microsoft.Xrm.Portal"/>
        <add tagPrefix="events" tagName="EventCalendar" src="~/Controls/EventCalendar.ascx"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="Cache.axd" type="Microsoft.Xrm.Portal.Web.Handlers.CacheInvalidationHandler, Microsoft.Xrm.Portal"/>
      <add verb="*" path="LiveID.axd" type="Microsoft.Xrm.Portal.IdentityModel.Web.Handlers.LiveIdAccountTransferHandler, Microsoft.Xrm.Portal"/>
      <add verb="*" path="Federation.axd" type="Microsoft.Xrm.Portal.IdentityModel.Web.Handlers.FederationAuthenticationHandler, Microsoft.Xrm.Portal"/>
      <add verb="GET" path="Event.axd" type="Site.Services.EventHandler, Site"/>
    </httpHandlers>
    <httpModules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="PortalRouting" type="Microsoft.Xrm.Portal.Web.Modules.PortalRoutingModule, Microsoft.Xrm.Portal"/>
    </httpModules>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" requestValidationType="Microsoft.Xrm.Portal.IdentityModel.Web.FederationRequestValidator, Microsoft.Xrm.Portal"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Xrm.XrmCmsDataService">
        <endpoint binding="webHttpBinding" bindingConfiguration="cmsDataService" contract="System.Data.Services.IRequestHandler"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="cmsDataService" maxReceivedMessageSize="104857600"/>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="PortalRouting" type="Microsoft.Xrm.Portal.Web.Modules.PortalRoutingModule, Microsoft.Xrm.Portal" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="CacheInvalidation" verb="*" path="Cache.axd" preCondition="integratedMode" type="Microsoft.Xrm.Portal.Web.Handlers.CacheInvalidationHandler, Microsoft.Xrm.Portal"/>
      <add name="LiveId" verb="*" path="LiveID.axd" preCondition="integratedMode" type="Microsoft.Xrm.Portal.IdentityModel.Web.Handlers.LiveIdAccountTransferHandler, Microsoft.Xrm.Portal"/>
      <add name="Federation" verb="*" path="Federation.axd" preCondition="integratedMode" type="Microsoft.Xrm.Portal.IdentityModel.Web.Handlers.FederationAuthenticationHandler, Microsoft.Xrm.Portal"/>
      <add name="Event" verb="GET" path="Event.axd" preCondition="integratedMode" type="Site.Services.EventHandler, Site"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
  <microsoft.xrm.client>
    <contexts>
      <add name="Xrm" type="Xrm.XrmServiceContext, Xrm"/>
    </contexts>
  </microsoft.xrm.client>
  <microsoft.xrm.portal>
    <portals>
      <add name="Customer Portal"/>
    </portals>
  </microsoft.xrm.portal>
  <location path="Services/Cms.svc">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="http://contoso.cloudapp.net/"/>
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="false" issuer="https://contoso.accesscontrol.windows.net/v2/wsfederation" realm="http://contoso.cloudapp.net/" requireHttps="false"/>
        <cookieHandler requireSsl="false"/>
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="0000000000000000000000000000000000000000" name="https://contoso.accesscontrol.windows.net/"/>
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <microsoft.xrm.portal.identityModel>
    <registration enabled="true" registrationPath="~/confirm-invite" profilePath="~/profile" accountTransferPath="~/login" requiresInvitation="true" requiresChallengeAnswer="false" requiresConfirmation="false" invitationCodeDuration="01:00:00"/>
  </microsoft.xrm.portal.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AntiXssLibrary" publicKeyToken="D127EFAB8A9C114F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>